import(dplyr)
import(purrr)
import(tidyr)
importFrom("stats", "quantile")
importFrom("stats", "model.matrix")
importFrom("stats", "na.omit")
importFrom("stats", "sd")
exportPattern("^[[:alpha:]]+")
useDynLib(HRTnomaly, .registration = TRUE)
exportClass(checkwise)
S3method(HRTnomaly::print, checkwise)
