import(dplyr)
import(purrr)
import(tidyr)
importFrom("stats", "quantile")
importFrom("stats", "model.matrix")
importFrom("stats", "na.omit")
importFrom("stats", "sd")
useDynLib(HRTnomaly, .registration = TRUE, .fixes = "C_")
export("bayesHRT")
export("bootHRT")
export("bayeswise")
export("cellwise")
export("class_check")
export("dif")
export("fuzzyHRT")
export("gif")
export("pif")
export("setCores")
S3method(print, checkwise)
